<br>
<small><%= link_to "Back to welcome screen", root_path %> </small>
<br>
<br>
<h3>&#x1F3DF;List of fixtures</h3>
<br>

<% @fixtures.each do |fixture| %>
	<small>
		(<%= fixture.id %>)
		<%= fixture.date %> - 
		<%= fixture.season.competition.name %>
	</small>

	<strong>stage <%= fixture.stage %> •</strong> 

	<%= fixture.hometeam.club.shortname %>
	 <strong>
	 	<%= fixture.scorehome %> - <%= fixture.scoreaway %>
	 </strong>
	 <%= fixture.awayteam.club.shortname %>
	 <small>
	 | <%= fixture.time %></small>


	 <% if fixture.scorehome.nil? %>
	 	<small>
	 		<%= link_to "update score", edit_fixture_path(fixture.id) %>
	 	</small>
	 <% else %>
	 	<small>
			<!-- <%= link_to "see game", fixture_path(fixture.id) %> -->
			<strong>>> Future game link <<</strong>
	 	</small>
	 <% end %>

	<br>
<% end %>