<br>

<h3>Welcome</h3>

<br><%= link_to "List of competitions", competitions_path %> &#x1F5DE;
<br><%= link_to "List of clubs", clubs_path %> &#x1F6E1;
<br><%= link_to "List of teams", teams_path %> &#x1F465;
<br><%= link_to "List of seasons", seasons_path %> &#x1F5D3;
<br><%= link_to "List of players", players_path %> &#x1F9B8;
<br><%= link_to "List of fixtures", fixtures_path %> &#x1F3DF;